[2019-01-07 07:21] mvandewouw opened #1 "changelog date supposed to be 2019 for version 0.2.0 ? ;)"
Anyway, looks like a cool plugin, ill be checking it more today!
Thanks alot

[2019-02-10 03:42] simplymanas opened #2 "Failed to install 'jeppeandersen.vscode-kafka'."
Unable to install Extension 'jeppeandersen.vscode-kafka-0.5.2' as it is not compatible with Code '1.24.1'.

Not able to install this in mac, from the store.

Please ignore if the issue is fixed and I am unaware of this.

[2019-02-10 09:00] jlandersen commented on #2
Hi @simplymanas

There is a requirement in the extension for Code '1.30' (November 2018). 1.24 is from May 2018 so unfortunately the version is unsupported. Is there a specific reason for not being on the latest stable?

Thanks,
Jeppe

[2019-02-16 04:07] simplymanas commented on #2
Thank you @jlandersen , I have updated to the latest one and it worked.

[2019-02-16 10:09] #2 closed

[2019-03-27 18:17] winter98 opened #3 "Add support for SASL/SCRAM"
Hi,

Do you intend to implement SASL_SSL (particularly SASL_SCRAM) connectivity ?

Thanks.

[2019-03-28 07:38] jlandersen commented on #3
Hi

I'd like to support SASL_SSL. The extension is based on https://github.com/SOHU-Co/kafka-node, which currently only supports the PLAIN mechanism. I am a contributor and could look into SCRAM when possible, but for now PLAIN is the more likely one to be supported.
I'll see if I can get it in for next version in the next few weeks.

[2019-04-08 18:15] winter98 commented on #3
Would love SASL_SCRAM...

[2019-04-08 18:15] winter98 commented on #3
But thank you very much

[2019-04-19 07:00] jlandersen commented on #3
@winter98 0.7.0 was just pushed which adds SASL/PLAIN. I'll keep this open and track of it and put in SCRAM when it becomes available in dependencies.

[2019-07-23 10:36] chrsas opened #6 "Config start offset in setting does not usable."
I start a consumer to consume a topic, I have set the start offset earliest, but the consumer does not receive all messages.

[2019-07-23 15:55] jlandersen commented on #6
Hi - couple of questions:

 - What version of Kafka re you using?
 - Are you activating consumer via explorer or the action menu?

[2019-07-24 05:41] chrsas commented on #6
Kafka version 2.1
Via explorer

[2019-07-25 19:33] jlandersen commented on #6
Thanks for the info - i'll get back when I have some news!

[2019-10-24 06:05] KimMJ opened #7 "Cannot retrieve broker configs"
Hi.
I want to connect extension to kafka on Kubernetes.

I use vscode with remote-ssh extension to access to pc.
And I download kafka extension and try to connect to my kafka.

First I try to connect with kafka's cluster ip(`10.99.116.43`), but it failed.
In vscode-kafka, it shows Topics and brokers but couldn't see Topics' config.
Cause brokers' IP in extension is changed to dns name (`kafka-serv

[2019-10-27 19:05] jlandersen commented on #7
Hi @KimMJ

Sorry, this is a known issue in https://github.com/SOHU-Co/kafka-node. I fixed it upstream (https://github.com/SOHU-Co/kafka-node/pull/1280) but the change is still awaiting the original author publishing a new version of the library to npm. As soon as it is available I will provide an update to the extension.

[2019-11-10 19:21] jlandersen commented on #7
I just published 0.8.0 which brings in latest kafka-node (5.0.0) that includes my upstream fix. Can you try make sure you are on the latest version (rolling out now) and verify that it fixes the issue for you?

[2019-11-13 01:41] KimMJ commented on #7
Sorry for late! It works very well after updated. Thx!!

[2019-11-13 01:41] #7 closed

[2019-11-27 19:47] agimatreyes opened #8 "JAAS Config"
Hi,

How do you setup the extension if security uses JAAS Config?

Thanks!

[2019-12-03 02:35] rsun-thoughtworks commented on #3
Thanks, appreciate it.

[2019-12-16 18:00] jlandersen commented on #8
Hi

Depends on your authentication setting. If you are using plain mechanism this is listed in the README. Any other mechanism is unfortunately not supported at the moment.

I am considering switching to KafkaJS as the underlying client library, away from kafka-node which supports more mechanisms.

[2019-12-23 20:40] jlandersen commented on #6
Better late than never (and Christmas holidays 🙏 ). I just published 0.8.2 which should fix this. Please let me know if it doesen't work as expected.

[2019-12-23 20:40] #6 closed

[2020-01-08 22:44] half-metal opened #9 "Enable query of topic"
As of latest version, the topic is merely consumed, but does not allow querying or consuming the entire topic to see all results.

If extension were able to query by date range, then this would be excellent tool for troubleshooting any dev and production issues that may have already occurred in the past.

There is an alternative kSQL add-on, but I believe this depth of querying is typically not re

[2020-01-19 19:40] jlandersen commented on #9
I like this idea, but there are a couple of things that needs to be done to enable it.

The kafka protocol allows fetching offsets by timestamp (ListOffset request), which could be used to do this, without having to scan all topics of a partition. My plan is to move to Kafja.js (away from kafka-node) which has this implemented (kafka-node does not). Kafka.js, on the other hand, is missing a few ad

[2020-02-29 20:39] jlandersen opened #10 "Move to KafkaJS"
Use KafkaJS as client instead of kafka-node

https://github.com/tulios/kafkajs/issues/647

[2020-04-30 08:37] copdips opened #12 "Support multiple kafka clusters"
hello,

It seems that current version only support single kafka cluster. Could you please add the support for multiple ?

[2020-05-07 08:55] jlandersen commented on #12
Hi @copdips,

I am starting work on this now. I had hoped to get #10  in first, but it is still pending an updated release, so it will be postponed after all.

[2020-05-30 07:57] jlandersen commented on #12
I just published 0.9.0 which supports multiple clusters. This is a bigger change and includes some workflow changes as well (such as selecting a cluster for certain actions, like producing and consuming).

I am closing this issue for now, but any feedback and suggestions for improvements is appreciated. I have some further plans for building out this even more (first on my list is to improve the a

[2020-05-30 07:57] #12 closed

[2020-05-30 11:47] copdips commented on #12
@jlandersen

It works like a charm, and I'm wandering where you save the settings, I cannot find the multiclusters in VSCode user settings.

[2020-05-30 14:09] jlandersen commented on #12
Great! Clusters are saved using the VS Code Extension API (global storage).
You can see the implementation here:

https://github.com/jlandersen/vscode-kafka/blob/master/src/settings/clusters.ts

I might add the option to mix those with clusters specified in user or workspace settings, for use cases where one might let cluster settings go into source control. Just an idea at this time.

[2020-06-04 16:54] waves-and-waves opened #13 "where to creating a .kafka file?"
and how to opreat that?

[2020-06-04 17:14] jlandersen commented on #13
Hi,

You can create any .kafka file as a normal file on disk. The extension is registered to listen for those filetypes. Once you have a .kafka file you should get code lense showing up for producer declarations allowing you to produce records.

[2020-06-05 04:05] #13 closed

[2020-06-18 10:15] dlarr opened #14 "[QUESTION] - producing JSON collection as message"
@jlandersen @joanrieu
Is it possible to produces several messages corresponding to elements in JSON

Let's say my .kafka is this one :

[code]

Is it possible to produce 3 messages / records ?

[2020-06-19 10:22] jlandersen commented on #14
Hi,

This is currently not possible. Your record would contain a single value that is the string of three JSON objects.

[2020-06-23 08:57] dlarr commented on #14
Hello and thank you for the answer.

It's too bad :( I hope you plan to make this evolution, because this plugin is really cool and easy to use.

Closing this issue.

[2020-06-23 08:57] #14 closed

[2020-06-24 16:26] jlandersen commented on #14
Thanks for the kind words :-)
I might take another pass at the producer format in the near future and see what improvements could be made. If this seems like a general use case - never say never.

[2020-09-27 02:30] yury-gurevich opened #19 "Failed operation - Broker not available(loadMetadataForTopics)"
GREAT WORK. You saved me so much time. Thank you, thank you.

After switching focus message "Failed operation - Broker not available(loadMetadataForTopics)" comes up.
Restarting VSCode resoles he issue, but after a while ( cannot correlate this with any event I can think of ) the extension stops responding again until next restart fixes the issue.

I am happy to supply you with any diagnostic mate

[2020-09-27 10:17] jlandersen commented on #19
thanks for the kind words :)

my guess is a connection is closed and/or metadata about the cluster is lost after a while and not refreshed as expected. I'll take a look at what I can find.

[2020-11-23 08:44] fbricon opened #21 "Provide back button navigation in new cluster wizard"
For instance, if I start creating a new cluster, after selecting the broker urls and the friendly name, when about to choose the authentication, I changed my mind on the friendly name, need to go back to modify it, a back button would be useful.
See [vscode-quarkus's new project wizard](https://github.com/redhat-developer/vscode-quarkus/blob/master/src/wizards/generateProject/generationWizard.ts):

[2020-11-23 08:49] fbricon commented on #3
SASL/SCRAM should be doable (as well as OAUTHBEARER) once the extension uses kafkajs (see #10)  : https://kafka.js.org/docs/configuration#a-name-sasl-a-sasl

[2020-11-23 10:14] fbricon opened #22 "Improve cluster status in explorer"
A few ideas to improve the cluster explorer:

- [ ] When a cluster is not connected, do not display the child nodes (brokers, topics, consumer groups)
- [ ] When a cluster is connected, display a connected icon (whatever that might be)
- [ ] When a cluster failed to connect, display a connection failure icon (with connection failure message on hover)

[2020-11-23 10:36] fbricon opened #23 "Consumer fails to read messages properly"
When running the [Quarkus Kafka Quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/kafka-quickstart#quarkus-kafka-quickstart), when a consumer is added to the prices topic, message encoding is borked (consumer expects UTF-8, producer simply [serializes integers](https://github.com/quarkusio/quarkus-quickstarts/blob/master/kafka-quickstart/src/main/resources/application.proper

[2020-11-23 10:49] fbricon opened #24 "Add ability to remove topics"
Selecting a topic in the kafka explorer, there should be a `Delete Topic` menu, that'd display a confirmation message before actually removing the topic

[2020-11-23 10:56] fbricon opened #25 "Add ability to edit cluster"
There's currently no way to edit an existing cluster (change the friendly name, add a broker, correct credentials). Deleting/recreating a cluster seems like an overkill alternative.

[2020-11-23 11:07] fbricon opened #26 "Add ability to remove a consumer"
From the Kafka explorer view, we should be able to select a consumer generated by vscode-kafka and remove it (it needs to be stopped before removing)

See similar feature in conduktor:

![Dec-15-2020 11-06-19](https://user-images.githubusercontent.com/148698/102200933-c20c5680-3ec5-11eb-9dd7-4b808176bf4d.gif)

Removal fails if "the group is not empty"

[2020-11-23 11:08] fbricon commented on #26
Ideally we could select multiple consumers and remove them in one action

[2020-11-23 11:10] fbricon opened #27 "Add support for SASL/OAUTHBEARER authentication"
SASL/OAUTHBEARER authentication could be implemented once the extension uses kafkajs (see #10)  : https://kafka.js.org/docs/configuration#a-name-sasl-a-sasl

[2020-11-30 12:37] fbricon commented on #10
@jlandersen do you have any ETA on this or are you looking for some external contribution?

[2020-11-30 12:40] jlandersen commented on #10
Hoping to get this one in this week! Almost there

[2020-11-30 14:40] fbricon commented on #10
Cool, there's a bunch of interesting features that depend on it, happy to see it moving forward!

[2020-12-02 13:38] fbricon commented on #21
So @angelozerr will start looking at this starting next week.

[2020-12-03 19:03] fbricon opened #28 "When producing messages to a new topic, automatically refresh the cluster view"
While testing .kafka producers, like
[code]

initially, the kafka cluster didn't have the my-topic topic. I had to manually refresh the cluster view to see the newly created topic.
Since we already know the list of existing topics, when trying to produce a new message, we could check if the destination topic already exists, if it doesn't, send an event to refresh the view automatically.

[2020-12-06 10:29] #10 closed

[2020-12-06 12:39] fbricon opened #29 "Provide a setting to hide/show internal topics"
IMHO, in most cases, showing the `__consumer-offsets` (internal) topic by default is not interesting:
<img width="430" alt="Screenshot 2020-12-06 at 13 33 23" src="https://user-images.githubusercontent.com/148698/101280204-1c236280-37c8-11eb-940c-94efb8c5b33f.png">

There should be a preference where you could toggle displaying internal topics. Something like kafka.explorer.topics.showInternal: tr

[2020-12-06 16:34] #28 closed

[2020-12-06 17:57] fbricon opened #31 "Add ability to empty a topic"
When selecting a topic in the Kafka explorer, there should be an `Empty topic` menu (like conduktor calls it) or `Delete records`. It would delete all the records on all the partitions of the selected topic.

This should be implementable via https://kafka.js.org/docs/admin#a-name-delete-topic-records-a-delete-topic-records

[2020-12-07 09:31] fbricon opened #33 "Add confirmation step before deleting a cluster"
It's currently very easy to accidentally delete a cluster, as there's no confirmation step at the moment.

[2020-12-07 09:35] fbricon opened #34 "Automatically use the available cluster when performing an action"
When producing messages with a .kafka file for instance, even when I only have one cluster configured, clicking on the `produce record` code lens shows a `No cluster selected` warning.
This sort of warning should only be issued when multiple clusters would cause some ambiguity. In case of a single cluster, we should safely assume all actions should be applied to that one.

[2020-12-07 13:51] angelozerr opened #35 "Provide embedded documentation"
It should be nice to have some documentation about:

 * the kafka settings
 * the Kafka explorer

Providing an embedded documentation gives the capability to read the documentation with webrowser (by reading pages from the github repository) or inside vscode.

We did that for vscode-xml, the documentation https://github.com/redhat-developer/vscode-xml/blob/master/docs/README.md can be read too ins

[2020-12-07 20:09] #33 closed

[2020-12-08 11:10] fbricon opened #40 "Provide an option to clear the consumer view"
When a consumer has logged hundreds of messages, it's a bit difficult to navigate through all. Having an option to clear the view (like the console view has) would be useful IMHO.

[2020-12-08 11:39] fbricon opened #41 "Make CI built vsix artifacts available"
Use https://github.com/marketplace/actions/upload-a-build-artifact from one of the CI builds to make the generated vsix easily available for testing

[2020-12-08 11:58] fbricon opened #42 "Starting a stopped consumer should reuse the same document"
When a stopped consumer is restarted from the Topic's `Start consumer` menu, a new page is opened every time:

<img width="1674" alt="Screenshot 2020-12-08 at 12 55 20" src="https://user-images.githubusercontent.com/148698/101481170-04c5b000-3955-11eb-9ec2-8af842b6e4de.png">

It only open a new page if none is currently available.

[2020-12-08 15:40] Varrkan82 opened #43 "Add on option to select topic view "from-beginning""
Please, add an option to make it possible to view kafka topic from beginning. Like a CLI parameter "--from-beginning"

[2020-12-09 18:13] fbricon commented on #43
Looks like a duplicate of https://github.com/jlandersen/vscode-kafka/issues/9

[2020-12-09 18:53] fbricon opened #44 "Consumer view should scroll to the latest updates automatically"
When producing messages to a topic, the consumer view should automatically scroll along with the latest messages.
There should be a lock/unlock button to stop automatic scrolling, like a regular console view.

[2020-12-09 22:19] Varrkan82 commented on #43
It is looks like, but not the same if to be precise. In https://github.com/jlandersen/vscode-kafka/issues/9 it is asked to implement feature to retrieve data by a date and as it commented below - it is could be hard to implement. But my request about fetching an all data from the beginning and it could be easier to do. But any way - an ideas looks the same in total - to get data earlier than consu

[2020-12-09 23:14] fbricon commented on #43
all results == since the beginning == having no date filter. So yeah fixing #9 fixes this one. If kafkajs exposes the right things, it should not be overly difficult to implement. Just need to figure out a good UX.

[2020-12-10 17:44] fbricon opened #48 "Colorize the consumer view"
The consumer view is pretty bleak:

![consumer-view](https://user-images.githubusercontent.com/148698/101808973-48681780-3b17-11eb-8936-888df2e59cca.png)

Hopefully it should be possible to define and apply some textmate grammar, to give it more pizzaz

[2020-12-12 12:58] #24 closed

[2020-12-13 18:27] #34 closed

[2020-12-13 18:28] #41 closed

[2020-12-14 10:24] fbricon commented on #43
BTW, there's already a preference key, `"kafka.consumers.offset"="earliest"`,  that lets consumers read topics from the beginning:
<img width="1040" alt="Screenshot 2020-12-14 at 11 21 49" src="https://user-images.githubusercontent.com/148698/102069959-c02b9000-3dfe-11eb-9975-204de648f7af.png">

It's not a per-consumer setting for now but I think we should change that, when creating consumers.

[2020-12-14 19:14] #48 closed

[2020-12-15 09:40] angelozerr commented on #44
I'm working on this issue.

[2020-12-15 10:03] angelozerr opened #53 "Is consumer view should be based on terminal API?"
Today the consumer view is based on a text editor which provides the capability to support syntax coloration with TextMate. The editor content is filled with https://github.com/jlandersen/vscode-kafka/blob/master/src/providers/consumerVirtualTextDocumentProvider.ts which implements `vscode.TextDocumentContentProvider` which requires to store the all messages from of the kafka consumer.

When the k

[2020-12-15 10:11] fbricon opened #54 "Add ability to remove consumers"
It should possible to remove inactive consumers (not simply stop them). See similar feature in conduktor:

![Dec-15-2020 11-06-19](https://user-images.githubusercontent.com/148698/102200933-c20c5680-3ec5-11eb-9dd7-4b808176bf4d.gif)

Removal fails if "the group is not empty"

[2020-12-15 15:03] angelozerr commented on #53
Instead using Terminal API, we could use Output Channel.

@jlandersen I wonder what you have not implemented Kafka consumer with Output channel since you did that for Kafka producer?

[2020-12-16 18:11] #42 closed

[2020-12-19 15:55] fbricon commented on #54
Closing as duplicate of #26

[2020-12-19 15:55] #54 closed

[2020-12-19 15:56] fbricon opened #58 "Consumer immediately closed after 1st start"
have a topic, start a consumer, view shows it started then stopped.

https://user-images.githubusercontent.com/148698/102693224-60c3ea80-4219-11eb-8fd8-67650d3e1ebd.mp4

Debugging shows it's caused by a call to [onDidCloseDocument](https://github.com/jlandersen/vscode-kafka/blob/master/src/providers/consumerVirtualTextDocumentProvider.ts#L16)
<img width="1056" alt="Screenshot 2020-12-19 at 16 45 4

[2020-12-20 07:53] jlandersen commented on #53
I put a comment in the PR https://github.com/jlandersen/vscode-kafka/pull/57. Hoping that explains it. We can keep the discussion here going forward.

[2020-12-20 08:51] #58 closed

[2020-12-20 08:51] jlandersen commented on #58
Seems to happen as a result of setting the language after creating the document:

https://code.visualstudio.com/api/references/vscode-api (no anchor link so copy pasting the important bit here):
[code]

Unfortunately it doesen't seem possible to create a new document with the language set unless the content is a simple string. I've added a check in the event handler to abort if the language is "pl

[2020-12-21 20:06] angelozerr commented on #58
It's very strange, most of the time,I had not this problem. Anyway thanks @jlandersen for the fix!

[2021-01-02 18:50] jlandersen opened #59 "Add option to delete consumer group"
Should be available in context menu for consumer groups in explorer

[2021-01-05 14:57] angelozerr opened #61 "Select in the explorer treeview the topic, cluster which is created"
When a topic, cluster etc is created, the Kafka explorer is refreshed with the new item but it should be improved with:

 * focus on the kafka explorer when a kafka item (topic, cluster,etc is created, deleted)
 * select (reveal) the tree item when a kafka item is created or the parent item when a kafka item is deleted.

[2021-01-05 14:59] angelozerr opened #62 "Improve selection of cluster"
Cluster selection should be improved:

 * add documentation about the goal of cluster selection.
 * show in the kafka explorer which cluster is selcted
 * provide the Unselect command.

[2021-01-05 15:04] fbricon commented on #62
OK

OK

why do you need an unselect command? Either you're using a cluster or your changing to another cluster

[2021-01-05 15:07] fbricon commented on #62
See also https://github.com/jlandersen/vscode-kafka/issues/22

[2021-01-05 15:13] angelozerr commented on #62
This command is just to give the capability to reset the selection state. For developer point view I think it's nice to have this command in order to test the current written code (which requires or not selection) with or without selection cluster.

[2021-01-05 15:14] angelozerr commented on #62
I have seen this issue but I would prefer splitting features about cluster explorer in several issues (for review it will be more easy).

[2021-01-05 15:20] fbricon commented on #3
@angelozerr if you want to test SASL/SCRAM auth, you can create a free account on https://www.cloudkarafka.com/plans.html

[2021-01-05 17:35] fbricon opened #63 "Elements should be sorted alphabetically in the explorer"
Clusters:
<img width="409" alt="Screenshot 2021-01-05 at 18 32 14" src="https://user-images.githubusercontent.com/148698/103678837-5d07c600-4f84-11eb-9428-917fc9023c71.png">

Consumers:
<img width="408" alt="Screenshot 2021-01-05 at 18 30 02" src="https://user-images.githubusercontent.com/148698/103678793-4a8d8c80-4f84-11eb-83ba-7083616c125a.png">

Topics look to be sorted alphabetically already:

[2021-01-05 17:43] fbricon commented on #3
I did a really quick'n dirty test to implement SASL/SCRAM
<img width="717" alt="Screenshot 2021-01-05 at 18 40 26" src="https://user-images.githubusercontent.com/148698/103679737-837a3100-4f85-11eb-89e2-27f1bcac749a.png">

and it worked (tested against a https://www.cloudkarafka.com/ cluster) :
<img width="474" alt="Screenshot 2021-01-05 at 18 39 47" src="https://user-images.githubusercontent.com/

[2021-01-06 09:54] angelozerr opened #64 "Don't show replication factor input when offsets.topic.replication.factor=1"
From https://github.com/jlandersen/vscode-kafka/pull/60#discussion_r551871879

Apparently, you can't use a replication factor higher than the cluster's `offsets.topic.replication.factor` value.

IMHO if `offsets.topic.replication.factor`=1, then there's no point in even showing that part of the wizard.

See https://github.com/jlandersen/vscode-kafka/blob/824a615fd5d49e2021b485d694dc9706429bc1a6/sr

[2021-01-06 09:56] angelozerr opened #65 "Check max for topic partitions"
From https://github.com/jlandersen/vscode-kafka/pull/60#discussion_r551864012

We should prolly limit the max value for the number of topic partitions. Looks like 10 seems to be the max recommended amount, So setting [100](https://medium.com/swlh/choosing-right-partition-count-replication-factor-apache-kafka-cf50b1bc75cf) as a limit might be fine. @jlandersen WDYT?

Kafka clusters seem limited to

[2021-01-06 10:13] fbricon commented on #64
Beware that for some clusters, you won't be able to read the configuration (cloudkarafka.com apparently prevents it). So make sure it doesn't break when config is not accessible

[2021-01-06 10:15] fbricon commented on #64
well I can't even create a cloudkarafka.com topic from vscode-kafka, even when authenticated (via my SASL/SCRAM POC)

[2021-01-06 10:21] fbricon opened #66 "Randomize message key"
Currently, in producer files, only the message body goes through faker.js randomization. I was wondering whether we should allow similar filtering for message keys, eg.
[code]

@jlandersen does it make sense?

[2021-01-06 14:50] #21 closed

[2021-01-06 15:51] fbricon commented on #3
Anyone interested in seeing SCRAM support, can test PR #67.

Please [download](https://github.com/jlandersen/vscode-kafka/suites/1778964810/artifacts/33987808) the vscode-kafka 0.11.0 build for that PR and follow these [instructions](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix) to install the vsix file in vscode. Feedback is most welcome!

[2021-01-06 17:18] fbricon opened #68 "Add support for copying explorer element labels"
As requested by @wtrocki, allow copying topic names (and others elements) from the explorer

[2021-01-06 19:53] wtrocki opened #69 "Add ability to set offset in consumer group"
To reply message/debug someone might need to get messages from begging or specific offset

[2021-01-06 19:55] wtrocki opened #70 "Consumer in the output view rather than editor"
Hi

This is just random idea but what is the reason behind using editor to consume messages? Syntax highlighting?

[2021-01-06 19:58] fbricon commented on #70
Closing as duplicate of #53

[2021-01-06 19:58] #70 closed

[2021-01-07 10:01] angelozerr commented on #61
@jlandersen I'm refactoring the kafka explorer to work with the vscode TreeView and benefit with TreeView#reveal the method to select a cluster, topic, etc once it is created.

To do that I have created a kafka model (which stores the NodeBase (ClusterItem, BrokerGroupItem, etc) in this model because reveal needs that.

I noticed that kafka explorer dispose do nothing https://github.com/jlandersen

[2021-01-08 01:21] mblandgithub opened #71 "Install"
I downloaded the latest VS 2019 and when I download the vsix file it says there was an issue.  Log files shows extension is unsigned.  Any way around this?

[2021-01-08 06:28] fbricon commented on #71
This extension works for visual studio code

[2021-01-08 16:25] mblandgithub commented on #71
Not sure I understand your comments.  I downloaded and installed visual studio code and then trying to install this ext.  Not sure how to install it so that is why I asked the question.

[2021-01-08 16:39] fbricon commented on #71
sorry I mistook your VS 2019 reference for Visual Studio 2019.

Have you tried installing from the extension view? https://code.visualstudio.com/docs/editor/extension-gallery#_browse-for-extensions

[2021-01-08 17:04] mblandgithub commented on #71
I installed this
![image](https://user-images.githubusercontent.com/41790814/104042864-016a5200-51a9-11eb-896b-7acfad1ca32f.png)

When I goto ext with VS and search for KAFKA i see nothing.

When I goto the market place - https://marketplace.visualstudio.com/VSCode i see

https://marketplace.visualstudio.com/items?itemName=jeppeandersen.vscode-kafka

I tried clicking install and nothing happens

I

[2021-01-08 17:08] mblandgithub commented on #71
Ok now after hyper focussing on the CODE word i found that I have installed VS with some CODE but not the VS CODE I should have.  I found this and wow the extension was so simple.

Ignore this last comment

Installed with ease.

Thanks for the help.

[2021-01-08 18:35] mblandgithub commented on #69
The docs say this: You can configure start offset for new consumers in settings (earliest, latest).

How do I go about view prior offsets in the tool?
I can only view new messages that come after I start the consumer.

[2021-01-08 18:40] #71 closed

[2021-01-08 18:56] wtrocki commented on #69
@mblandgithub I have implemented some POC using debezium (Kafka connect) for publishing and Node.js subscription resolvers for consuming. I haven't used GraphQL PubSub interface because it has some obvious problems.

Debezium will publish messages in order (partitioning is based on table/id.

POC does couple things

#### Producing

1. Debezium publishes events from datasource
2. Events are used as

[2021-01-11 13:16] angelozerr commented on #63
I'm waiting for the merge of https://github.com/jlandersen/vscode-kafka/pull/72 to create a PR.

[2021-01-11 14:41] fbricon commented on #26
@jeppe do you plan on contributing this feature in the [next](https://github.com/jlandersen/vscode-kafka/milestone/1) release?

[2021-01-11 14:51] fbricon opened #75 "Deleting a cluster should deselect remove consumers"
When deleting a cluster, if consumers were created during this VS Code session, the consumer count is not reset in the status bar.
It's OK to keep those consumers windows/tabs open, for browsing purposes.

[2021-01-11 15:05] angelozerr commented on #35
I will create a PR soon for that.

[2021-01-11 15:08] #61 closed

[2021-01-12 09:12] #29 closed

[2021-01-12 10:19] #63 closed

[2021-01-12 14:27] #68 closed

[2021-01-12 14:32] angelozerr opened #79 "Bind Delete shortcut with Delete Cluster, Topic command"
Bind Delete shortcut with Delete Cluster, Topic command

[2021-01-14 13:49] #79 closed

[2021-01-17 09:49] fbricon commented on #19
Since we switched the underlying client library,  is this issue still relevant with the latest version of vscode-kafka?
@yury-gurevich can you still reproduce the problem?

[2021-01-18 09:05] #3 closed

[2021-01-18 09:37] angelozerr commented on #25
When I try to connect to my cloudkafka, I spend so many times to delete, recreate the cluster configuration (because I'm so newbie with kafka) . I think this issue is important.

[2021-01-18 10:10] angelozerr commented on #25
To fix this issue, there are 2 solutions:

 * create a custom Webview which manages cluster fields.
 * store the settings in the vscode settings.json. @jlandersen is there any reason why you don't store cluster settings in the vscode settings.json? I ask this question because https://vscode-sqltools.mteixeira.dev/features/sessions-and-multiple-connections#session-files does that, see https://githu

[2021-01-19 10:11] #62 closed

[2021-01-19 12:02] mike-england opened #84 "Basic SSL support"
Is it possible to attach to a kafka instance with SSL enabled?  For example, when I'm attaching to my cluster as a producer, I'll use the following:

KafkaProducer(bootstrap_servers=kafkaServer, security_protocol="SSL", ssl_check_hostname=True)

When attaching to the kafka cluster through this extension, I can specify the bootstrap server and port (443 in my case), but I can't seem to find a way t

[2021-01-19 12:19] fbricon commented on #84
Currently SSL is only enabled when using an authentication scheme, i.e. you have a username/password.
So you need SSL but no auth?

[2021-01-19 12:26] mike-england commented on #84
Yes, currently we don't have any auth, just SSL.  I tried to specify SASL/Plain as authentication but with a blank username password, but that doesn't seem to work.

[2021-01-19 12:51] fbricon commented on #84
Ok, so your use case seems quite simple but if we want to do SSL support right (and advertise we support SSL), we need to be able configure SSL certificate configuration, as per https://kafka.js.org/docs/configuration#ssl

Currently, the ssl boolean is only set here: https://github.com/jlandersen/vscode-kafka/blob/a0257d0932263cc66bce73c5579a9d530f9655b0/src/client/client.ts#L325

[2021-01-19 18:27] mike-england commented on #84
Brilliant!  That works well for my purposes, it connects fine and seems to be working well.

[2021-01-20 06:35] rmarting opened #86 "Add support for SASL_SSL protocol"
Many clusters uses SASL_SSL protocolo (security.protocol) to autheticate the users.

It would be nice to allow it.

[2021-01-20 09:11] fbricon commented on #86
Yeah it's what I refer to in https://github.com/jlandersen/vscode-kafka/issues/84#issuecomment-762821041

My understanding is, we need to provide a way to configure cluster certificates. I've thought of adding a few 3 more steps to the cluster config wizard (for CA, KEY and CERT), it should be easy to understand but I fear that'll make the config process pretty heavy.
Or we could let users configu

[2021-01-20 09:21] angelozerr commented on #86
I think if we want to follow the spirit of the vscode, cluster should be configure in settings.json and not in memento like today. vscode-sqltools follows this idea to configure connection.

[2021-01-20 09:44] fbricon commented on #86
@angelozerr I *think* @jlandersen used vscode settings.json initially, but then moved to memento settings, for some reason

[2021-01-20 09:46] fbricon commented on #86
Anyways, the memento vs settings.json debate is orthogonal to this discussion, this is an implementation detail. Right now I'm more concerned about the UI bits

[2021-01-20 09:47] fbricon commented on #86
it'd be easy to review cluster config, once we enable #25

[2021-01-20 14:50] #84 closed

[2021-01-21 07:04] angelozerr commented on #86
I would to say that with settings.json you can see the cluster configuration although memento hide this configuration. With settings.json you benefit with

 * overview of the cluster config
 * edit cluster config (completion based on JSON schema)

But I agree settings.json doesn't provide advanced validation.

As Kafka explorer looks like as Database explorer, I tried several vscode extension to m

[2021-01-22 15:26] angelozerr opened #88 "Use Webview to manage cluster settings"
In vscode-kafka, we need to manage UI input forms for :

 * cluster configuration (today we can create the cluster configuration with a wizard, but we cannot edit it,an UI forms could be a good solution) like vscode-sqltools provides for connection:

![image](https://user-images.githubusercontent.com/1932211/105508603-da457180-5ccc-11eb-871c-a3ed8a05382e.png)

 * start consumer should open UI inpu

[2021-01-22 15:33] fbricon commented on #88
I think either Angular or React would be fine, but I'm not familiar with any of them. However, we can get some help from fellow Red Hatters on react-based webviews if needed, so I'd prolly use that. Unless @jlandersen has a strong preference for another solution.

[2021-01-23 09:10] jlandersen commented on #88
A webview based form would be nice for managing clusters. Personally i'd prefer avoiding bundling up a framework in the extension - well aware it might be a bit awful to work with depending on the complexity.

How do we imagine this will look like? If it is restricted to input cluster address, name and optionally SASL parameters then I would imagine this being managable.

[2021-01-23 09:22] jlandersen commented on #25
@angelozerr originally it actually was in settings.json. The reason to move it out was mostly to make it more manageable from the UI side (adding/removing multiple). I do see in the workspace API it is possible to update those values programmatically now (https://code.visualstudio.com/api/references/vscode-api#WorkspaceConfiguration). I am open for using settings.json. Ideally we'd come to a model

[2021-01-23 09:26] jlandersen commented on #69
I agree this would be nice. I've been wanting to redo the consumer part a bit for a while to make it a bit more flexible instead of just letting a single consumer group be registered.

Similar to producers being created with a kafka file, i've been thinking of a similar approach to consumers. Something along the lines of this (needs some more thoughts but should show the gist of it):

[code]

[2021-01-23 09:30] jlandersen commented on #66
Good one - perhaps with support of using the same variables from the payload? I would say this is a pretty common case:

[code]

[2021-01-23 09:31] fbricon commented on #88
We'll also need to handle SSL configuration: selecting CA, CE, Perm files.
If we add JAAS config, and open up the cluster config to 3rd party extensions (providing AWS, confluent or red hat specific options) the simple wizard workflow doesn't scale.
No framework means data binding is going to be a headache

[2021-01-23 11:03] angelozerr commented on #69
@jlandersen we discuss about this idea with kafka file with @fbricon but we wonder how to manage menu Start consumer from the treeview and kafka files (ex: menu from treeview item must introspect all kafka files in workspace to know which start consumer exists?)

That's why we think to manage those start consumer with a webwiew like I tried to explain in https://github.com/jlandersen/vscode-kafka/

[2021-01-23 12:16] angelozerr commented on #88
I understand your fear, but IMHO I think it will simplify the code for databinding, validation support and when we will need complex UI (ex : list of items with add/remove item).

Using react in vscode is not an experimentation because:

 * vscode-sqltools is a great sample
 * Red Hat have skills about using react in vscode (see https://github.com/redhat-developer/vscode-openshift-tools for instan

[2021-01-23 12:55] jlandersen commented on #69
I wouldn't consider a consumer from a file the same as "Start consumer" from the menu, but rather they are two separate approaches to start / register a consumer.

- The quick right-click and Start consumer from menu i'd like to keep as an easy way to create a consumer for a particular topic
- Consumer from files is the more detailed approach to creating one, which can also be shared in a project

[2021-01-23 13:01] jlandersen commented on #65
cc @fbricon  as he mentioned it in the PR.

I think it's good with the validation of positive number for now. I don't think we should take as stand on what is an appropriate amount of partitions. I've worked with situations that made topics go from just a handful to a few hundred partitions for various reasons.  Going above any hard limit imposed by the cluster, I would assume would return an erro

[2021-01-23 13:46] angelozerr commented on #69
Ok so I will give up webview UI stuff for the moment and I will start to work on kafka files with CONSUMER. @fbricon is it OK for you?

[2021-01-23 15:19] fbricon opened #89 "Brokers should be listed alphabetically"
I feel like a sad panda when I see those unordered brokers
<img width="457" alt="Screenshot 2021-01-23 at 16 16 35" src="https://user-images.githubusercontent.com/148698/105605528-7be4c580-5d96-11eb-8a00-05686ec039f7.png">

[2021-01-24 08:57] jlandersen commented on #88
Thanks for the links - I looked over them and it seems manageable and I accept we can utilize this for other things than just clusters in the future (like creating a consumer we discussed in #69). Aside from vanilla JS/HTML I do prefer react and worked with it plenty of times, so let's move forward with that.

[2021-01-24 09:45] jlandersen opened #90 "Store clusters in VSCode settings"

[2021-01-24 09:46] jlandersen commented on #86
I did move storage of clusters to memento as part of adding support for multiple clusters (https://github.com/jlandersen/vscode-kafka/commit/049dfa3083139102244b1fd7eb6ac04926263ce3). I'd like to revert to using settings, seeing as it is possible to update those values via. the workspace API.

I'm definitely in preference of using webview for managing clusters and allow selecting specific certific

[2021-01-25 08:29] fbricon commented on #8
Depends on #88

[2021-01-25 08:39] fbricon commented on #90
Cluster settings should be given a scope="machine", so path to future SSL certificates can be machine-specific for instance.

[2021-01-25 09:00] angelozerr opened #92 "Language service for kafka file"
It should be nice to provide a language service to provide relevant support for kafka files:

 * completion for topic
 * validation for topic
 * symbols for PRODUCER (and CONSUMER when it will be implemented)
 * folding range

The first thing to implement is a kafka file parser which maintains range location (the hard part, but as kafka file has a simple syntax it should not be a big deal).

Once

[2021-01-25 09:09] fbricon opened #93 "Automate releases to the Marketplace"
We need to add a github action that will be triggered on push tag, that will publish to VS Code's and https://open-vsx.org Marketplaces.
I can take care of adding the github action but @jlandersen needs to set VSCODE_MARKETPLACE_TOKEN and OPENVSX_MARKETPLACE_TOKEN secrets in https://github.com/jlandersen/vscode-kafka/settings/secrets/actions

@jlandersen: for open-vsx, you need to create an accoun

[2021-01-25 09:49] #89 closed

[2021-01-25 10:08] fbricon commented on #66
`key: customer-{{id}}` is gonna be difficult to implement, but what I think is possible is to use the same [faker seed](https://github.com/marak/Faker.js/#setting-a-randomness-seed) for generating the key and the body, so that you can have
[code]

I'll have to try

[2021-01-25 10:35] fbricon commented on #66
Success!

<img width="1042" alt="Screenshot 2021-01-25 at 11 35 19" src="https://user-images.githubusercontent.com/148698/105694623-722ba100-5f01-11eb-8686-6b4707f1f2bc.png">

[2021-01-25 11:12] fbricon opened #95 "Replace "Produce record x 10" code lens with "Produce records...""
I've been thinking about replacing the  `Produce record x 10` code lens with `Produce records...`, that would open an input box, where we could set any number of messages to produce.
@jlandersen @angelozerr WDYT?

[2021-01-25 11:18] fbricon commented on #95
There are alternatives to requiring a user input:
- add a "count" attribute to the producer
- add a vscode setting for bulk message production, eg. `kafka.producers.bulk.count`

[2021-01-25 13:05] angelozerr commented on #88
Great!

I will work on this.

[2021-01-25 13:06] angelozerr opened #96 "Start consumer with kafka file"
Start consumer with configuration should be available inside kafka file:

[code]

See https://github.com/jlandersen/vscode-kafka/issues/69#issuecomment-765894929

[2021-01-25 13:06] jlandersen commented on #66
I know it was a bit of a stretch ;) nice one

[2021-01-25 14:30] #66 closed

[2021-01-25 15:09] angelozerr commented on #65
Thanks @jlandersen for your feedback.

@fbricon what do you think about that?

[2021-01-26 17:32] angelozerr commented on #95
Please wait for this PR https://github.com/jlandersen/vscode-kafka/pull/98 will be merged before creating a PR for this issue.

[2021-01-26 17:34] fbricon commented on #95
I'm not working on it. Just wanted to collect feedback for starters

[2021-01-27 08:09] angelozerr commented on #96
I can manage the from offset by using https://kafka.js.org/docs/consuming#a-name-seek-a-seek but KafkaJS doesn't provide to (offset).

If we cannot manage the to,perhaps CONSUMER should look like this:

[code]

@fbricon @jlandersen what do you think about  that?

[2021-01-27 08:48] fbricon commented on #96
You can still call it `from`. The `to` can come later, whether the feature is implemented in kafka.js or here, we'll see

[2021-01-27 09:46] fbricon opened #99 "Code should build automatically when running the extension host"
I'm bitten 60% of the time, when I debug vscode-kafka in the extension host, code is not up-to-date, because the launch config doesn't trigger a "watch" task, to compile code on-the-fly

[2021-01-27 14:16] fbricon opened #101 "Wrong syntax highlighting for randomized keys"
Key appears white, when it contains a mustache placeholder:

 <img width="289" alt="Screenshot 2021-01-27 at 15 14 16" src="https://user-images.githubusercontent.com/148698/106003376-70eda600-60b2-11eb-94b5-02febacc1908.png">

This is the expected look:

<img width="211" alt="Screenshot 2021-01-27 at 15 15 21" src="https://user-images.githubusercontent.com/148698/106003528-937fbf00-60b2-11eb-9b09-

[2021-01-27 14:46] angelozerr commented on #96
Ok thanks for your feedback, I will do that.

I have an another question when you write

`CONSUMER test`

what mean `test`? I suppose it's the name of the consumer to create ?

Today this name is generated by using cluster, topic, from, position, my question what is the goal of this `test` name?

[2021-01-27 14:52] #35 closed

[2021-01-27 15:17] fbricon commented on #96
This should be the consumer name, we should be able to use whatever we want, eg.:

<img width="409" alt="Screenshot 2021-01-27 at 16 15 04" src="https://user-images.githubusercontent.com/148698/106011706-042ad980-60bb-11eb-9383-16f0f0cabf97.png">

I imagine some clusters could be configured to enforce a certain consumer naming scheme, so being able to define the name in the CONSUMER attribute will

[2021-01-31 19:22] angelozerr commented on #101
It should be fixed with https://github.com/jlandersen/vscode-kafka/pull/98

[2021-01-31 19:32] angelozerr commented on #69
I'm working on start/stop CONSUMER with kafka file. See the demo https://github.com/jlandersen/vscode-kafka/pull/98#issuecomment-770436966

[2021-02-01 08:27] angelozerr opened #102 "Show selected cluster in kafka file as codelens"
Show selected cluster in kafka file as codelens. See the following demo:

![SelectedClusterAsCodeLensDemo](https://user-images.githubusercontent.com/1932211/106432893-a9ed9800-646f-11eb-988a-ee93ee63a454.gif)

This issue is covered by the PR https://github.com/jlandersen/vscode-kafka/pull/98

[2021-02-01 09:13] fbricon opened #103 ""Select cluster command" should provide the option to create a new cluster"
When "Select cluster command" is executed but no cluster exists yet, it might be useful to have the option to create a new cluster:
<img width="721" alt="Screenshot 2021-02-01 at 10 09 28" src="https://user-images.githubusercontent.com/148698/106437611-bb39a300-6475-11eb-93c1-472d27cbeccd.png">

This is also true if clusters already exist. Add the option to the end of the list

[2021-02-01 10:13] fbricon opened #104 "Errors don't surface when starting a consumer fails to authenticate"
The cluster I'm testing is having random authentication issues (wink wink @wtrocki). Starting a consumer shows me the consumer started page, but in the console, I can see errors like:
[code]

Obviously produced messages (that works fine) are not received by the consumer.

Anyways, the point is, those authentication errors should be seen by the user

[2021-02-01 10:24] angelozerr commented on #104
I think https://github.com/jlandersen/vscode-kafka/issues/22 should cover this issue.

[2021-02-03 06:22] angelozerr commented on #26
@fbricon I started something, I will create a draft PR soon.

[2021-02-04 09:04] angelozerr opened #107 "Support for multiple delete"
Today we can delete a given cluster, a topic and soon a consumer group. It should be nice to support multiple delete:

 * select several topics in the explorer and delete them.
 * with the vscode command Delete Topic, select multiple topics and delete them.

[2021-02-04 09:06] angelozerr commented on #26
I created an issue for that in https://github.com/jlandersen/vscode-kafka/issues/107 in other words my PR https://github.com/jlandersen/vscode-kafka/pull/106 support only a remove for a given consumer group.

[2021-02-05 14:44] #40 closed

[2021-02-06 10:04] angelozerr opened #108 "Improve error message"
Today when there is an error which is thrown we display the error.message (if it exists) or just error.

In some case (ex delete consumer group), the error message is not enough. For delete group the message is just `Error in Delete groups`:

![image](https://user-images.githubusercontent.com/1932211/107115114-a3de2980-686a-11eb-9746-7afa77ea7c95.png)

which is not very helpfull.

For delete a con

[2021-02-08 18:37] angelozerr opened #109 "Display consumed messages as data cell (excel like)"
Kafka tool displays consumed messages in a excel viewer like https://www.kafkatool.com/features.html which I think it's more helpful when there are a lot of messages (you could sortn filter the messages, etc)

I like the idea with vscode notebook & jupyter where you can have cells:

 * a cell for PRODUCER
 * a cell which display producing messages when PRODUCER codelens is clicked.

If you see htt

[2021-02-09 18:46] angelozerr opened #110 "Delete consumer group should stop all consumers?"
See https://github.com/jlandersen/vscode-kafka/pull/106#issuecomment-774107816

Please note that if you try to delete a consumer group which is started, it will throw an error, I think we can have this behaviour for this PR but perhaps we should improve it like stopping the consumer before the delete.

We could stop this consumer

 * without warning (stop + delete) according to a setting (ala forc

[2021-02-10 13:55] angelozerr opened #111 "Consumer which is started outside the vscode session cannot be stop."
When you start a consumer and you close your vscode and you restart it. You will see again the consumer group, but you cannot stop it.

[2021-02-10 14:06] #26 closed

[2021-02-10 17:53] #99 closed

[2021-02-11 17:48] angelozerr commented on #44
I'm not sure that it's possible today since we use TextDocumentProvider API which doesn't provide the capability to retrieve the editor to manage scroll lock for instance.

If you have some idea please share it.

Perhaps we should switch to custom text editor to manage this consumer view https://code.visualstudio.com/api/extension-guides/custom-editors#custom-text-editor-lifecycle ?

[2021-02-16 18:36] angelozerr commented on #23
I study quickly how to fix this issue, and I think we should use an avro js library to do that.

I tested quickly with https://www.npmjs.com/package/avsc and if key is a long we can write:

[code]
I wonder if we must use  https://github.com/apache/avro/tree/master/lang/js#avro-js instead?

Need some investigation...

[2021-02-17 13:07] angelozerr commented on #23
See https://github.com/mtth/avsc/issues/259 in other words, we must use `avsc`

[2021-02-17 14:54] angelozerr opened #112 "Declare key/value format for CONSUMER in kafka file"
Improve kafka file CONSUMER (when https://github.com/jlandersen/vscode-kafka/pull/98 will be merged)  to declare key/value deserializer:

 * key-format = none, long, int, etc
 * value-format= none, long, int, etc

Example:

[code]

In the future we could add avro schema.

[2021-02-17 14:55] angelozerr commented on #23
This issue will be fixed with the issue https://github.com/jlandersen/vscode-kafka/issues/112

[2021-02-17 14:59] angelozerr opened #113 "Declare key/value format for PRODUCER in kafka file"
Improve kafka file PRODUCER (when https://github.com/jlandersen/vscode-kafka/pull/98 will be merged)  to declare key/value serializer:

 * `key-format` = none, long, integer, etc
 * `value-format` = none, long, integer, etc

Example:

[code]

In the future we could add avro schema.

[2021-02-17 15:04] angelozerr commented on #43
I think this issue will be covered by https://github.com/jlandersen/vscode-kafka/issues/96 by using `from: earliest`

[2021-02-17 17:51] angelozerr opened #114 "Support for Avro schema in CONSUMER of kafka-file"
For consumer, it should be nice to support Avro once https://github.com/jlandersen/vscode-kafka/issues/112 will be implemented like Conduktor provides:

![image](https://user-images.githubusercontent.com/1932211/108245822-05e33c80-7151-11eb-9243-ce89dd44927f.png)

[2021-02-21 12:19] #93 closed

[2021-02-22 12:06] rahgadda opened #115 "Unable to Produce message to cloudkarafka"
Created a new version of **vscode-kafka** using GIT Action as described in the Readme.md
https://github.com/jlandersen/vscode-kafka/actions/runs/586374455

I am able to connect to cloudkarafka but unable to send message to the topic.
Getting message "Error: Not authorized to access topics: [Topic authorization failed]"

Please suggest.

![image](https://user-images.githubusercontent.com/13075415/1

[2021-02-22 13:26] fbricon commented on #115
Can you try with https://github.com/jlandersen/vscode-kafka/actions/runs/589280867?

[2021-02-22 14:15] rahgadda commented on #115
Thanks, @fbricon .

It's working fine.

[2021-02-22 14:15] #115 closed

[2021-02-22 14:19] fbricon commented on #115
The vsix generation was borked. Fixed with https://github.com/jlandersen/vscode-kafka/commit/189b58fea1e0c291b1b0c268b6c77e76c6cbe9a5.

[2021-02-25 13:55] #96 closed

[2021-02-26 09:51] angelozerr commented on #102
Fixed with https://github.com/jlandersen/vscode-kafka/issues?q=is%3Aissue+is%3Aclosed

Now the selected cluster is displayed for each CONSUMER, PRODUCER

![image](https://user-images.githubusercontent.com/1932211/109284679-68f36400-7820-11eb-8680-c7d2cce48c42.png)

When no cluster is selected, you have a link to select a cluster:

![image](https://user-images.githubusercontent.com/1932211/10928475

[2021-02-26 09:51] #102 closed

[2021-02-26 09:55] angelozerr commented on #69
Fixed with https://github.com/jlandersen/vscode-kafka/pull/98 by using `from`  into CONSUMER kafka file.

See documentation https://github.com/jlandersen/vscode-kafka/blob/master/docs/Consuming.md#kafka-file for more information.

[2021-02-26 09:55] #69 closed

[2021-02-26 09:56] angelozerr commented on #101
Fixed with https://github.com/jlandersen/vscode-kafka/pull/98

[2021-02-26 09:56] #101 closed

[2021-02-26 09:59] angelozerr commented on #43
Fixed with https://github.com/jlandersen/vscode-kafka/pull/98 by using `from`  with CONSUMER kafkafile.

See https://github.com/jlandersen/vscode-kafka/blob/master/docs/Consuming.md#kafka-file for more information.

[2021-02-26 09:59] #43 closed

[2021-02-26 10:00] angelozerr commented on #65
@fbricon I think we can close this issue, no?

[2021-02-26 19:01] angelozerr opened #117 "Execute Produce code lens in kafka file with progress"
Like start/stop consumer in kafka file in https://github.com/jlandersen/vscode-kafka/pull/116, execute Produce (from code lens) by using vscode.window.withProgress

[2021-02-26 19:03] angelozerr commented on #112
I will create a PR once https://github.com/jlandersen/vscode-kafka/pull/116 will be merged

[2021-03-01 08:35] #104 closed

[2021-03-05 10:44] fbricon opened #120 "Update documentation screenshots"
A bunch of screenshots are out-of-date and need a refresh:

![](https://github.com/jlandersen/vscode-kafka/blob/master/docs/assets/consumer-view.png?raw=true)
![](https://github.com/jlandersen/vscode-kafka/blob/master/docs/assets/kafka-file-cluster.png?raw=true)
![](https://github.com/jlandersen/vscode-kafka/blob/master/docs/assets/kafka-file-consumer.png?raw=true)
![](https://github.com/jlanderse

[2021-03-05 18:32] #120 closed

[2021-03-08 10:51] angelozerr opened #123 "Cluster provider API extension"
Provide the capability to contribute to vscode-kafka to with `Cluster Provider API` :

 * provide clusters list without creating manually (ex : connect to an https://www.cloudkarafka.com/ account which return a list of cluster, user can select some clusters without configuring them)
 *  connect to those provided clusters (create the proper kafka client with a kafka client factory)

[2021-03-15 08:28] angelozerr commented on #95
I like the idea to add this attribute (perhaps `bulk-count` should be better)

Perhaps we could remove the second `Produce 10x` code lens and generate a second code lens if  `bulk-count` is declared. We could even declare this count attribute with comma to generate several code lens.

For instance:

[code]

[2021-03-15 08:52] angelozerr commented on #19
I close this issue since I cannot reproduce it and since we consume now kafkajs.

@yury-gurevich if you find this issue again, please reopen it and give us more detail how to reproduce it. Thanks!

[2021-03-15 08:52] #19 closed

[2021-03-15 08:56] angelozerr commented on #65
I close the issue because it seems we should not manage this usecase https://github.com/jlandersen/vscode-kafka/issues/65#issuecomment-765996789

[2021-03-15 08:56] #65 closed

[2021-03-15 09:00] angelozerr opened #127 "Produce message every given time"
It should be nice to provide a new attribute `every` for PRODUCER to produce message `every X time`:

[code]

[2021-03-15 18:40] #123 closed

[2021-03-16 08:27] fbricon commented on #64
By default the topic replication factor should be set to `offsets.topic.replication.factor`. If the config is not accessible, then fallback to `number of brokers`.

[2021-03-16 09:34] angelozerr opened #129 "Write documentation for cluster provider API"
Write documentation for cluster providerAPI

See https://github.com/angelozerr/vscode-kafka-extension-sample

[2021-03-17 10:00] #64 closed

[2021-03-17 10:06] #112 closed

[2021-03-17 10:10] fbricon commented on #112
From the [doc](https://github.com/jlandersen/vscode-kafka/blob/master/docs/Consuming.md#kafka-file):

The `CONSUMER` block defines:
 * `consumer group id` which is declared after CONSUMER *[required]*.
 * `topic`: the topic id *[required]*.
 * `from`: the offset from which the consumer group will start consuming messages from. Possible values are: `earliest`, `latest`, or an integer value. *[optio

[2021-03-17 10:18] fbricon opened #132 "Bad highlighting when declaring json messages with fakerjs placeholders"
See
[code]
yields some weird bracket highlighting :

<img width="378" alt="Screenshot 2021-03-17 at 11 15 17" src="https://user-images.githubusercontent.com/148698/111451779-149e1e80-8712-11eb-9502-71e687a39fc8.png">

[2021-03-17 14:28] fbricon opened #134 "Stop showing the "Kafka producer log" output view all the time"
I find showing the "Kafka producer log" output view very irritating, every time I click on produce, after I closed the view the 1st time.
![Mar-17-2021 15-26-59](https://user-images.githubusercontent.com/148698/111483622-407ecb80-8735-11eb-877a-6b75ee46e5af.gif)

[2021-03-17 15:28] fbricon commented on #23
Fixed with #112

[2021-03-17 15:28] #23 closed

[2021-03-17 17:52] angelozerr commented on #134
The output gives the capability to check produce is done. If you don't know that it exists this output, I think you will never show it.

I think we should improve doc in https://github.com/jlandersen/vscode-kafka/blob/master/docs/Producing.md#producing-messages by adding a screenshot after `Kafka Producer Log` to explain to the user what is the content of `Kafka Producer Log`

The https://github.c

[2021-03-18 06:54] angelozerr opened #137 "Refresh Cluster Provider API when extension are installed/uninstalled"
Refresh Cluster Provider API when extensions are installed/uninstalled

[2021-03-19 09:59] #113 closed

[2021-03-19 11:34] #134 closed

[2021-03-22 15:22] angelozerr opened #138 "Use client accessor inside consumer"
When a consumer is started, a new Kafka JS client instance is created https://github.com/jlandersen/vscode-kafka/blob/b72c127c4b443608fc89ea505685d443d7f3e258/src/client/consumer.ts#L102 which means:

 * a new Kafka instance is created on each consumer start
 * this Kafka instance is never disposed.

To fix this problem, we should use clientAccessor (which is a pooling of Kafka client) but it requ

[2021-03-25 13:51] angelozerr opened #142 "Implement kafka-file fault tolerant parser."
To support properly completion, validation inside kafka file (see https://github.com/jlandersen/vscode-kafka/issues/92) we need to implement a kafka-file fault tolerant parser (AST kind).

[2021-03-29 13:28] #117 closed

[2021-04-02 12:24] #142 closed

[2021-04-02 14:08] angelozerr opened #146 "Completion support for properties kafka file"
It should be nice to support completion inside kafka file:

 * completion for properties for CONSUMER and PRODUCER (ex: topic, from, etc for CONSUMER)
 * completion for key-format, value-format value (with string, long (de)serializers

[2021-04-06 12:19] fbricon opened #149 "Provide documentation on hover, in .kafka files"
When hovering over .kafka properties, we should display the associated documentation

[2021-04-06 12:25] angelozerr commented on #149
You read in my mind :) Once the completion PR will be merged https://github.com/jlandersen/vscode-kafka/pull/148 I think it will be easy to implement that.

[2021-04-06 12:27] angelozerr opened #150 "Completion for available topic in kafka file"
Completion for topic property to show available topic of the selected cluster

[2021-04-06 12:40] angelozerr opened #151 "Completion for fakerjs in kafka file"

[2021-04-06 12:45] angelozerr opened #152 "Validation support for properties kafka file"

[2021-04-06 12:51] angelozerr opened #153 "Validation for available topic in kafka file"

[2021-04-06 12:53] angelozerr opened #154 "Validation for fakerjs in kafka file"

[2021-04-06 16:30] fbricon commented on #154
Here's the list of working API (provided fakerjs is updated to the latest release - PR incoming):
[code]

[2021-04-06 16:34] fbricon commented on #154
Same as a .kafka producer:
[code]

[2021-04-06 16:49] #146 closed

[2021-04-07 09:05] fbricon commented on #151
If it helps:
[code]

[2021-04-07 09:17] angelozerr commented on #151
Totally :) Thanks!

[2021-04-08 21:37] #132 closed

[2021-04-08 22:03] #151 closed

[2021-04-12 16:39] fbricon commented on #153
You need to check if auto.create.topics.enable=true and then allow any topic

[2021-04-12 18:23] #150 closed

[2021-04-15 14:10] #152 closed

[2021-04-16 08:36] fbricon opened #161 ".kafka comments are breaking syntax coloration in producers"
--- comments break syntax coloration in producer blocks. Comments are not colorized, and break syntax highlighting of other properties:
[code]
yields:
<img width="435" alt="Screenshot 2021-04-16 at 10 33 23" src="https://user-images.githubusercontent.com/148698/114996551-39b3b780-9e9f-11eb-80e2-d2fd4b7dc0a7.png">

[2021-04-16 09:09] #161 closed

[2021-04-22 14:13] fbricon commented on #138
Unfortunately the coupling between Client and the KafkaJS already exists (since the switch to KafkaJS). We'll probably need non-trivial refactoring to decouple them.
I think we choose the pragmatic solution and merge this PR anyways, and deal with a potential refactoring after the next release.

[2021-04-22 18:45] angelozerr commented on #138
An idea that I had is to do like vscode html language service in https://github.com/microsoft/vscode-html-languageservice/blob/106b074df01923e579d8ebc2429090abd339f219/src/htmlLanguageTypes.ts#L18

The main idea is that htmlLanguageTypes import LSP types and export them. After that other files imported types coming from htmlLanguageTypes  and not from LSP.

If we follow this idea we could import a

[2021-04-23 14:48] #138 closed

[2021-04-23 14:51] angelozerr opened #166 "Remove kafkajs dependencies from Client API"
Remove kafkajs dependencies from Client API .

[2021-04-23 14:52] angelozerr commented on #138
I created the issue https://github.com/jlandersen/vscode-kafka/issues/166

[2021-04-24 10:39] angelozerr opened #167 "CodeAction for FakerJS"
Provide code actions to fix FakerJS syntax error and data model.

[2021-04-24 10:39] angelozerr opened #168 "CodeAction for topic"
Provide code actions to fix topic.

[2021-04-24 10:40] angelozerr opened #169 "CodeAction for syntax and required properties"
Provide code actions to fix syntax properties and required properties (topic property)

[2021-04-26 08:39] #154 closed

[2021-04-27 17:29] fbricon opened #174 "Use the Secrets API to store credentials"
The credentials are not currently stored securely, we should use VS Code secrets API. See https://code.visualstudio.com/api/references/vscode-api#SecretStorage

One potential problem is Theia currently doesn't support that API: https://github.com/eclipse-theia/theia/issues/9348

[2021-04-30 13:28] #153 closed

[2021-04-30 13:32] fbricon opened #177 "Filtered topics are considered invalid"
If you hide topics with  "kafka.explorer.topics.filter", they're considered invalid:

<img width="1339" alt="Screenshot 2021-04-30 at 15 21 09" src="https://user-images.githubusercontent.com/148698/116702084-ed9d6280-a9c8-11eb-8a0d-38de9e1d618a.png">

They should not be proposed for completion, since they're hidden, but should still be considered valid.

[2021-04-30 13:56] angelozerr opened #178 "Highlight support for kafka file"
By default vscode highlight token. For faker JS expression it highlight the first part of the expression (before the '.'). It should be nice to support higlighting by using the AST.

[2021-04-30 13:57] angelozerr opened #179 "Folding support for kafka file"
Folding is managed by TextMate, it works when a producer or consumer ends with ###, but for consumer the ### is not required and folding fails.

It should be nice to support folding by using the AST.

[2021-05-05 08:00] angelozerr opened #181 "String Encoding serialization support"
Today key-format and value-format supports string serializer/deserializer without encoding. We should give the capability to configure the encoding liek this:

[code]

[2021-05-05 08:05] angelozerr commented on #114
For managing local avro file, my idea is to associate to the consumer like this:

[code]

[2021-05-05 15:30] fbricon opened #182 "Expose command to add clusters programatically"
I'm working on a case in [vscode-rhoas](https://github.com/redhat-developer/vscode-rhoas/issues/1), where I need to be able to execute a command to create a remote Kafka cluster, and when it's ready, automatically configure the newly created cluster into VS Code.

Exposing a new `vscode-kafka.api.addcluster` command, taking a cluster object for argument, would be very helpful

[2021-05-06 15:37] fbricon commented on #137
If you already have some clusters and install [vscode-rhoas](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-rhoas), you have to restart vscode for it to take effect, even though there's no prompt about it.

[2021-05-06 15:51] fbricon commented on #92
Already implemented in 0.12.0

[2021-05-06 15:51] #92 closed

[2021-05-06 20:11] hguerrero opened #185 "Support self signed certificates"
When connecting to cluster using TLS, the certificate might be a self-signed cert.

Today we receive an error, but there is no documentation on how to configure the cert to validate it.

[2021-05-06 20:15] angelozerr commented on #185
I think it's the same issue than https://github.com/jlandersen/vscode-kafka/issues/86

[2021-05-12 07:59] #137 closed

[2021-05-12 14:58] #177 closed

[2021-05-12 20:08] chonbash opened #191 "How can I connect with mTLS auth?"
Hi.
In Kafka Tool I use Security -> SSL and add keystore with client certificate. At kafka cluster I add client cert CN to ACL list.

How can I do so with your extension?

[2021-05-13 20:24] chonbash commented on #185
I have same problem. At #86 I didn't find solution.

[2021-05-13 21:16] hguerrero commented on #185
#86 still open and tries to address SASL_SSL, so I guess it should fix the usage of any TLS endpoint. However, I suggest using this issue to track the specifics of using self-signed certs within any TLS type of config.

[2021-05-14 13:45] angelozerr commented on #185
Yes sure, it's just some discussion. The issue which implement the idea with certificate (and another configuration) is https://github.com/jlandersen/vscode-kafka/issues/88

But please note if you have the capability to write a vscode extension, you can contribute to vscode-kafka with your cluster configuration. You extension could create the proper kafka config with the proper certificate https:/

[2021-05-14 13:52] angelozerr commented on #191
@chonbash please read my comment at https://github.com/jlandersen/vscode-kafka/issues/185#issuecomment-841254288

[2021-06-08 11:37] angelozerr commented on #191
My plan is to add 3 fields in the wizard to fill ca, key and cert files:

![image](https://user-images.githubusercontent.com/1932211/121178332-ac695f80-c85e-11eb-8fdb-52001245c371.png)

@chonbash do you think it will cover your usecase?

[2021-06-09 18:50] chonbash commented on #191
Hi, I need one more field - Key Password.
If key protected with password.

[2021-06-09 18:51] chonbash commented on #191
If I can help you to test, or something else - i'm ready. But С# not my strong site :)

[2021-07-01 07:30] angelozerr commented on #191
You mean `passphrase `(seehttps://nodejs.org/api/tls.html#tls_tls_createsecurecontext_options) ?

[2021-07-01 07:58] fbricon commented on #185
@hguerrero can you try the CI build from https://github.com/jlandersen/vscode-kafka/actions/runs/987534310 and give some feedback?

[2021-07-01 07:59] fbricon commented on #86
@rmarting can you try the CI build from https://github.com/jlandersen/vscode-kafka/actions/runs/987534310 and give us some feedback?

[2021-07-01 10:06] angelozerr commented on #86
@rmarting please note that there is a bug with ca, cert, key file save settings. Once you have selected the file, please add a space and remove a space on each file fields before saving. I'm fixing that.

[2021-07-01 10:06] angelozerr commented on #185
@hguerrero please note that there is a bug with ca, cert, key file save settings. Once you have selected the file, please add a space and remove a space on each file fields before saving. I'm fixing that.

[2021-07-01 14:38] sir-farfan opened #198 "Producer message from file"
Hey there
I'm new to this extension, I'm reading the documentation but haven't found if there's a way to load the message to be sent from a file.
If I write {{}} I can see some system.path stuff, but I'm not sure if I can use that to tell the producer to send the contents of a file

This is what I'm attempting to do:
`PRODUCER message-from-file
topic: mytopic
{{path/to/file.xml}}`

[2021-07-01 14:51] hguerrero commented on #185
Sure, I'll give it a try

[2021-07-01 15:01] fbricon commented on #198
This is not supported. In the meantime can just copy the content of the xml file into the .kafka file, eg.
[code]

[2021-07-01 16:46] hguerrero commented on #185
Hey, @angelozerr what type of file do I need to get for the certificate authority? right now I tried, crt, pem, and keystore but I'm not able to select any using the `browse` button.

[2021-07-01 17:43] angelozerr commented on #185
Its a mistake that i did. I need to add another file extensions. Please use the expected file extension for the moment by renaming your file extension. I will fix that soon

[2021-07-01 18:20] hguerrero commented on #185
Ok, adding the full path in the textbox worked.

Awesome work folks!

I was able to connect with no trouble

![image](https://user-images.githubusercontent.com/1001939/124172155-7c853480-da77-11eb-9f3a-a84e1c790b18.png)

[2021-07-02 14:44] fbricon commented on #185
@hguerrero was your certificate self-signed?

[2021-07-02 15:40] hguerrero commented on #185
Yes, it was @fbricon

[2021-07-02 15:45] fbricon commented on #185
Cool, thanks. FYI, @angelozerr has made some more improvements to the proposed changes, including fixing the file browsing. You can try a newer build from https://github.com/jlandersen/vscode-kafka/actions/runs/994037689

[2021-07-04 22:02] mscamargo opened #199 "Add support for Kafka headers in the .kafka file"
Hi there!

First of all, thanks for your great work! This is a very useful extension :smiley:

In the project I'm working on, we have to send metadata in kafka headers, but after some testing of the extension and some code reading, it seems that the extension doesn't support sending headers in kafka file. Are you considering this in the roadmap? It would be a great addition.

Thanks!

[2021-07-05 14:30] angelozerr commented on #199
Glad vscode-kafka can help you.

Indeed it's not supported.

The question is how to writ ethos hearders which is an array of key / value:

[code]

@fbricon  @jlandersen  have you some idea?

[2021-07-06 15:18] hguerrero commented on #185
@fbricon I tested the new version, but unfortunately is not working.

Looks like when using the browse button:
- I can now select my file
- The file does not show in the textbox
- When I click on `Finish` the server is created but the cert is not linked

So, when trying to connect to my cluster I still get the self-signed cert error.

If I add manually the path in the textbox, as I did with the pr

[2021-07-06 15:20] fbricon commented on #185
@hguerrero what OS are you on?

[2021-07-06 15:29] fbricon commented on #185
@hguerrero have you tried the latest build from https://github.com/jlandersen/vscode-kafka/actions/workflows/ci.yml?query=is%3Asuccess ?

[2021-07-06 15:49] hguerrero commented on #185
MacOS Big Sur v11.4

[2021-07-06 15:50] hguerrero commented on #185
No, used the 6days old, let me try with the one from 1hr ago.

[2021-07-06 15:53] hguerrero commented on #185
Ok,  I can confirm that the latest build (700) worked correctly.

[2021-07-06 17:43] #88 closed

[2021-07-06 17:45] fbricon commented on #88
Here's the latest UI

<img width="1263" alt="Screenshot 2021-07-06 at 19 44 16" src="https://user-images.githubusercontent.com/148698/124644447-93ba8c80-de92-11eb-9d45-b7151d37f6ed.png">

Still room for improvement, but we'll take care of that in later PRs

[2021-07-06 17:47] fbricon commented on #185
Fixed with #193

[2021-07-06 17:47] #185 closed

[2021-07-06 17:50] fbricon commented on #86
Fixed with #193

[2021-07-06 17:50] #86 closed

[2021-07-06 17:51] fbricon commented on #25
Fixed with #193

[2021-07-06 17:51] #25 closed

[2021-07-06 18:05] fbricon opened #200 "Make SSL optional when selecting SASL Auth"
We have a webview now (#193), but SSL is still required when selecting SASL* auth.
@jnsjunior needs it to be optional (#195).

[2021-07-06 22:20] angelozerr commented on #200
It means that we should just remove this validation https://github.com/jlandersen/vscode-kafka/blob/889a6068642cdeaf2bec40806abdd596beda1891/src/wizards/clusters.ts#L389 ?

[2021-07-07 07:18] rmarting commented on #86
@fbricon, @angelozerr I tested with some kafka clusters with SSL and SASL mechanisms successfully, however I found something that it is not working: I cannot choose the ca or key files from the browse button.

When the file browser is opened the only files available are ca or key but the browser does not list me any file. In the folder my files are:

- CA: ca-dev.crt
- Key: ca-dev.key

However the

[2021-07-07 10:59] angelozerr commented on #86
Have you tested with last build?

[2021-07-07 12:28] rmarting commented on #86
Used the version provided here https://github.com/jlandersen/vscode-kafka/issues/86#issuecomment-872017089
Where could I download the latest one?

[2021-07-07 12:53] fbricon commented on #86
@rmarting click on the latest run of https://github.com/jlandersen/vscode-kafka/actions/workflows/ci.yml then download and unzip the vscode-kafka archive

[2021-07-07 13:01] rmarting commented on #86
Thanks @fbricon! With the latest one from there it is working successfully! So IMHO this version resolved this issue. Well done!

[2021-07-08 09:25] fbricon commented on #200
Changing the severity of the problem allows us to still warn the user and allow them to save the cluster

[2021-07-13 15:15] fbricon commented on #200
@jnsjunior can you please check the CI build from https://github.com/jlandersen/vscode-kafka/actions/runs/1027031973?

[2021-07-19 13:23] #200 closed

[2021-07-22 12:39] fbricon opened #204 "Display meaningful title in cluster wizard"
The cluster wizard provides no clue this page is related to Kafka:
<img width="1230" alt="Screenshot 2021-07-22 at 11 17 56" src="https://user-images.githubusercontent.com/148698/126640164-da1bf682-8249-464c-859c-aca57d4a3c86.png">

Depending on whether you're creating or editing the cluster, there should be a title:
`New Kafka cluster` / `Edit Kafka Cluster`

[2021-07-23 12:31] #103 closed

[2021-07-27 09:50] angelozerr commented on #182
Fixed with https://github.com/jlandersen/vscode-kafka/pull/189

[2021-07-27 09:50] #182 closed

[2021-07-27 12:40] angelozerr opened #206 "Add Getting Started documentation"
In https://github.com/jlandersen/vscode-kafka/blob/master/docs/README.md insert at first a `Getting Started` hyperlink which open a section which explain how to create a cluster and see in action the Cluster Wizard.

[2021-07-27 16:19] tigerinus opened #207 "It'd be nice to support purging messages within a topic (without deleting the topic)"
Been using https://www.conduktor.io/ for a while, until recently they've stopped providing some critical features in free version.

One of the features is be able to purge the messages within a topic (without deleting the topic).

It'd be nice for this extension to support this feature.

Kudos to the extension author!

[2021-07-27 16:28] fbricon commented on #207
Closing as duplicate of https://github.com/jlandersen/vscode-kafka/issues/31

[2021-07-27 16:28] #207 closed

[2021-08-16 14:51] angelozerr commented on #109
I think more and more that using notebook extension should be very nice. See  https://devblogs.microsoft.com/python/python-in-visual-studio-code-august-2021-release/

[2021-08-24 11:05] schadin commented on #199
Hello!
My implementation #209

[2021-11-07 19:30] rsmnarts opened #211 "Cluster Wizard fails loading assets ERR_ABORTED 404"
![image](https://user-images.githubusercontent.com/40693945/140659066-86a62225-e3d9-460a-b4a2-f8559ca0719d.png)
Does anyone know why the Kafka client in my vscode is like this?
If I check the developer tools, there are several error messages like in the picture

[2021-11-08 08:37] angelozerr commented on #211
vscode-kafka uses https://github.com/redhat-developer/vscode-wizard to create a cluster with wizard and needs some loading of css, js. It seems that it misses those resources.

Your URL is very strange, me I have:

https://file+.vscode-resource.vscode-webview.net/c%3A/Users/azerr/.vscode/extensions/jeppeandersen.vscode-kafka-0.13.0/pages/shared/bootstrap/js/bootstrap.min.js

@fbricon have you some

[2021-11-09 14:10] Evynglais opened #212 "Unable to add cluster"
Hi, getting the following page when attempting to add a cluster:

![image](https://user-images.githubusercontent.com/71874625/140939112-347dfb57-01e3-4599-9661-6074cdc773db.png)

Any ideas on what's going wrong?

Thanks,
Evynglais

[2021-11-09 14:53] fbricon commented on #212
Closing as duplicate of #211

[2021-11-09 14:53] #212 closed

[2021-11-09 14:55] fbricon commented on #211
I can reproduce the issue on my Mac. Probably caused by recent changes in VS Code

[2021-11-09 16:10] fbricon commented on #211
Same problem on Ubuntu, but not on Windows 10. weird.

[2021-11-09 16:27] angelozerr commented on #211
It's so bad -(

[2021-11-09 16:31] angelozerr commented on #211
@robstryker did you encounter the same probem with last version of vscode and your vscode extensions which consumes vscode-wizard?

[2021-11-09 16:40] angelozerr commented on #211
It seems HTML page can be loaded but not css, js etc. Perhaps I'm wrong but perhaps theproblem comes from https://github.com/redhat-developer/vscode-wizard/blob/563dd9657c892f731805dc3460caf4737cd94e2c/src/pageImpl.ts#L116 and vscode did some change in https://github.com/microsoft/vscode/issues/135361

I repeat me,it's perhaps a wrong suggestion. Just post that to try to understand the problem.

[2021-11-09 17:37] Evynglais commented on #211
I've got this issue on Windows 10 as well as Ubuntu.

[2021-11-15 12:02] angelozerr commented on #199
Fixed with https://github.com/jlandersen/vscode-kafka/pull/209

[2021-11-15 12:02] #199 closed

[2021-11-16 15:18] #211 closed

[2021-11-26 10:20] adakkj opened #215 "How to create .kafka file? Missing info in documentations"
Hi,
I would like to use .kafka file functionality, but I couldn't figure out how to use It. I suppose function "select cluster" should do this but in my case I dont have that kind of function. Is there a bug or I missing something?

Adam

[2021-11-26 10:26] fbricon commented on #215
Just create a file with the .kafka extension: https://github.com/jlandersen/vscode-kafka/blob/master/docs/KafkaFile.md#kafkafile

Then you can create producers or consumers by typing `producer` or `consumer` in the file, a snippet will be injected in the file.
See https://github.com/jlandersen/vscode-kafka/blob/master/docs/Producing.md#producing and https://github.com/jlandersen/vscode-kafka/blob/

[2021-11-26 14:08] adakkj commented on #215
Adding right content to .kafka file helped. Snippet after that is visible and I can send messages! Thanks for your help:)

[2021-11-26 14:08] #215 closed

[2021-12-02 20:42] spham opened #216 "how to use"
how to use
kafka.client.truststore.jks
instead of file in pem format ?

![image](https://user-images.githubusercontent.com/1083631/144499820-853bd659-9e89-4b0c-81e3-eabcf5a0a8b5.png)

[2021-12-03 08:57] angelozerr commented on #216
I fear that's it's not possible. We provide common authentification. It's hard with an UI to manage all authentification kind.

@fbricon do you think we should provide jks?

[2021-12-27 22:27] tejasvichudasma-zefr opened #217 "Error in consumer: Snappy compression not implemented"
Getting this error when trying read from topic

[2021-12-27 14:16:04.802] [renderer9] [error] [Extension Host] {"level":"ERROR","timestamp":"2021-12-27T22:16:05.020Z","logger":"kafkajs","message":"[Consumer] Crash: KafkaJSNotImplemented: Snappy compression not implemented","groupId":"vscode-dmds-inventory-search_definition","stack":"KafkaJSNotImplemented: Snappy compression not implemented\n\tat 2

[2021-12-28 14:17] angelozerr commented on #217
By searching quickly it seems we should do (where?) https://github.com/tulios/kafkajs-snappy#configuration to support snappy.

[2022-01-04 10:49] fbricon commented on #216
According to https://github.com/tulios/kafkajs/issues/1127#issuecomment-867554450, kafkajs doesn't provide a way to use keystores directly, they should be converted to PEM files first. Maybe there's a way to use  https://www.npmjs.com/package/jks-js to do that automagically

[2022-01-17 20:15] kasperschnack commented on #185
Hi guys! First of all, thank you for making kafka available in vs code. I'm really looking forward to ditching the expensive conduktor I have to use through VNC. However I'm getting this error as well. I might have more than just this issue though - not sure:
1. I have this issue and I don't understand how I'm supposed to fix it
2. In conduktor I simply have to point to my truststore.jks file. I c

[2022-01-18 14:49] angelozerr commented on #185
@kasperschnack to be honnest with you, I have none knowledge about JKS, etc. I have just consumed the kafkajs API and the expected tls ConnectionOptions :

https://github.com/jlandersen/vscode-kafka/blob/06b74ed03a57c73b2daec4a60a3dfd76145c039e/src/client/client.ts#L491

If it requires some changes, any feedback are welcome, thanks!

[2022-02-18 21:51] akhoruzhenko opened #218 "Unable connect to Confluent Cloud instance"
Unable connect to Confluent Cloud instance.  Always receive "Failed operation - Closed connection" error message.

How I can use plugin with Confluent instance if it supported by plugin?

Thanks

[2022-03-28 15:45] angelozerr commented on #218
Have you tried? You can select SSL only with the wizard.

[2022-03-30 14:24] JDubbTX commented on #218
I'm also having this issue.  I've tried with SSL selected:
![image](https://user-images.githubusercontent.com/56802156/160858145-084f81e9-8f4e-45e6-b175-b9da7eee2cd4.png)

[2022-05-10 13:16] od-cyera opened #220 "Feature request: Produce-record command"
Love the extension!
I think it would be great if you could have a bind to "produce message".
Its pretty limiting to have to use the mouse to send a preConfigured message.

If you could send a message when the mouse is inside a block (like below) it could be great
[code]

[2022-05-23 12:44] od-cyera commented on #220
are you accepting PRs?

[2022-05-24 12:45] angelozerr commented on #220
@od-cyera many thanks for your great contribution. I review it and it should be nice if you could follow my idea to avoid parsing the full kafka file, loop for each block to retrieve the proper block an dexecuting codelens services to get just the proper command.

Hope you will keep your motivation to do that, but I think we must try to have good performance.

I wonder too if we should activate th

[2022-05-24 18:45] od-cyera commented on #220
Thank you for the great extension :)
I hope I Fixed what you meant, let me know if not.

When running a consumer, Its pretty plane to see the action taking place (window opens, lens text change).
But i do agree some indication would be nice for produce blocks both for inline activation and when pressing the lens button.

[2022-05-24 21:53] angelozerr commented on #220
Thanks! Glad you like it andglad you contribute it.

Thanks for your fix, it is almost the thing that I had in my mind. The only thing that I would like to avoid is to have TypeScript file in services folder which are not a service (ex : completion, hover, codelens, etc).

The main idea is to

 * remove your new files (common.ts, producer.ts and consumer.ts)
 * defines for each block (ConsumerBloc

[2022-05-25 09:49] #220 closed

[2022-05-25 12:05] angelozerr commented on #218
I have tried to connect toa Confluent Cloud instance and it's works for me. The only thing that I have noticed is that I had to:

 * wait some time after creating the cluster in Confluent Cloud
 * I had to close and restart my vscode after creating the cluster setting in vscode-kafka (but not sure for that)

And now I can see brokers:

![image](https://user-images.githubusercontent.com/1932211/170

[2022-06-02 13:57] Slawka opened #224 "add the ability to disable verification altname"
add the ability to disable verification altname
SSL.endpoint.identification.algorithm=

[2022-06-13 00:13] linwoodma commented on #218
I had the same problem and closing the app after editing the config, then reopening seems to have fixed my problem also.

[2022-07-07 10:46] TomasEkeli commented on #217
i am getting a very similar error with lz4 compression defined by the producer

[code]

i think the compression should be part of the message (according to https://github.com/tulios/kafkajs/issues/1141#issuecomment-872104648) - maybe that's not working in this extension?

[2022-07-21 09:38] od-cyera opened #229 "Support for value format validation"
Hi,
Does this extension currently support validation support for message body?
If not, It could be nice to have json format validation (eg: if you forgot to remove a trailing `,`):
![image](https://user-images.githubusercontent.com/79370724/180181620-dd299f7e-5533-4315-b406-4e95750854d8.png)
Currently, the message is sent with bad format.

Also, might be nice to support custom [json-schema](https:

[2022-07-22 08:45] angelozerr commented on #229
Indeed it should be nice, but I fear that it will not an easy task. The first thing to do is to study if we can use https://github.com/microsoft/vscode-json-languageservice to manage partial JSON validation, hover, completion, etc.

[2022-07-24 06:26] od-cyera commented on #229
Yep, I think we can start with the first suggestion and see how it goes.
Ill update here when i find time to work on this. Thanks :)

[2022-07-28 23:02] IvanKostyuk commented on #185
Cannot connect using v0.15.0
Cannot find old build for v0.13.0

[2022-07-28 23:49] IvanKostyuk commented on #185
The certificate I issued does not have correct hostnames, more than that, I'm playing with cluster of 3 brokers.
Need to have ability to bypass host validation.

Failed operation - Connection error: Hostname/IP does not match certificate's altnames: IP: <broker IP> is not in the cert's list

[2022-07-29 00:02] IvanKostyuk opened #230 "TLS connection with invalid host is blocked"
It is not good to have _invalid_ certificate, but for development purposes the certificate does not have correct host names populated.
For example, I set up a cluster of 3 nodes with one certificate and in Java clients I said that I accept the risk.

This is how it looks in the certificate
Alternative Name:
                DNS:kafka, DNS:localhost

But then, I'm trying to connect with the extensio

[2022-07-29 01:13] angelozerr commented on #230
Is there any chance to have a contribution?

[2022-07-29 01:14] angelozerr commented on #224
Is there any chance to have a  contribution?

[2022-07-29 07:15] fbricon commented on #185
To install a prior version:
<img width="906" alt="Screenshot 2022-07-29 at 09 14 28" src="https://user-images.githubusercontent.com/148698/181704206-ebde2a71-f4ec-4d58-bcea-d15692d87aa7.png">
<img width="870" alt="Screenshot 2022-07-29 at 09 14 45" src="https://user-images.githubusercontent.com/148698/181704211-79c97395-58c1-4a7a-a46f-cda1c516c573.png">

[2022-08-01 09:29] xushuhui opened #231 "Request is not valid given the current SASL state"
I install and connet kafka，It show "Request is not valid given the current SASL state".
I use confluent kafka. the config is
  security-protocol= plaintext
  sasl-mechanism= XXX

[2022-08-03 09:23] od-cyera commented on #229
Hey,
I finally got to work on this a little, I have a working POC using `vscode-json-languageservice` in `KafkaFileDiagnostics`.
Do you think its fine to parse the json section with the json language service on every `KafkaFileDiagnostics.doDiagnostics`?

Feels like a bad design to me. but not sure whats a better fitting solution looks like.
Maybe we can think about creating another, more specific

[2022-08-03 12:00] angelozerr commented on #229
Thanks so muuch foe studying this super nice  feature.

I think we should follow the same idea than vscode html language server which consumes html and CSS vscode language service since html can embedds CSS.

I suggest that you try to mimic the language mode used in vscode. See https://github.com/microsoft/vscode/blob/main/extensions/html-language-features/server/src/modes/cssMode.ts which support

[2022-11-22 21:48] AlejandroHV opened #234 "Error while displaying broker configs: has provided an invalid tree item."
When opening the broker configurations in the extension i get the following error "has provided an invalid tree item".
![image](https://user-images.githubusercontent.com/11441576/203427939-c8038d2c-e036-4bca-b230-82a5bb9d48c3.png)

[2022-11-23 13:11] fbricon commented on #234
i'm afraid you'll need to troubleshoot this yourself. [See](https://github.com/jlandersen/vscode-kafka/blob/master/CONTRIBUTING.md) if you can run the Extension in debug mode and put a breakpoint in some of [these methods](https://github.com/jlandersen/vscode-kafka/blob/716b7cc452866aa3204986a00d93a8d9a02cd045/src/explorer/kafkaExplorer.ts#L63-L79), see if there's something wrong

[2022-11-25 16:01] karawitan commented on #216
As far as I know, client certificate/key is *optional*, only Certificate Authority is mandatory. Is it possible to handle this situation ? (only provide Certificate Authority, let client certificate/key empty)